node_modules/
/vendor/
.env
.env.local
.DS_Store
.idea/
.vscode/
*.log
*.swp
*.swo
*~
.env.backup
.env.production.local
.env.*.local
.cache/
.idea/
.vscode/
storage/
bootstrap/cache/
public/storage
/nbproject/private/
.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env.dusk.local
/public/hot
